.gradient-custom-2 {
   /* fallback for old browsers */
   background-image: url(../img/fondo_bienvenida.jpg) !important;
   background-repeat: no-repeat !important;
   background-size: cover !important;
   
   
   }
   
   h1 {
    font-family:'Press Start 2P'; 
   
   }

   #ingrese  {
    background-color: rgb(121, 114, 160) !important;
    color: #fff !important;
    border: #fff !important;
   }
   #registro {
    background-color:rgba(121, 114, 160, 0.356) !important;
    color: rgba(41, 38, 61, 0.712)!important;
    border: rgba(41, 38, 61, 0.356) !important;
   }
   

   button:hover{
     transform: scale(1.05); 
   }
   
   @media (min-width: 768px) {
   .gradient-form {
   height: 100vh !important;
   }
   h1{
   /* justify-content: center !important;
    text-align: center  !important;*/
    padding-left: 0.25rem; /* Padding horizontal izquierdo */
    padding-right: 0.25rem; /* Padding horizontal derecho */
    padding-top: 1.5rem; /* Padding vertical superior */
    padding-bottom: 1.5rem; /* Padding vertical inferior */
   }
   }
   @media (min-width: 769px) {
   .gradient-custom-2 {
   border-top-right-radius: .3rem;
   border-bottom-right-radius: .3rem;
   }
   }
   
  /* @media (max-width: 991px){
      .col-lg-6 {
         display: none;
     }
         px-1 py-4 p-md-5
   }*/
