html {
    scroll-behavior: smooth;
    padding:0;
    margin:0;
}
body {
    font-family: Arial, sans-serif;
   
}
/* INICIO ESTILOS NAVBAR */

nav.navbar {
    background-color: transparent !important;
    position: absolute !important;
    top:0;
    left:0;
    width: 100%;
    z-index: 10;
    display: flex !important;
    color: #f3e7e7 !important;
    font-size: x-large;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

nav.navbar .navbar-nav .nav-link {
    color: #fffefe !important;
    padding: 1rem !important;
}

nav .navbar-nav .nav-link:hover {
    color: #212a47 !important; 
    background-color: #8bb8c0; 
    border-radius: 0.3125rem;
}

/* Estilos del botón de alternancia (menu hamburguesa) */

.navbar-toggler {
    color: #fff !important;
}
/*img de usario*/
#img_princ{
    position: relative;
    width: 100%;
    height: 100%;
}
/*estilos del usuario*/
#username {
    color: #fdfdfd; 
}

/*estilos de flechitas de menu desplegables*/

.dropdown-toggle::after {
    color: #fff;
  }
/*FIN ESTILOS NAVBAR*/

/*COMIENZA ESTILOS DEL CONTENIDO DE LA PÁGINA*/

/*estilos de portada (es el carrusel)*/
#portada {
    position: relative; 
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    margin-top: 0;
    
  }

  #portada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/*botón conocer más*/
/*.conocer-mas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(253,187,45,0) 86%); 
    color: white;
    padding: 10rem 0; 
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    z-index: 10;
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.conocer-mas i {
    margin-left: 8px; /* Espacio entre el texto y el ícono de flecha 
}*/
/*fin estilos portada*/

/*específico carrusel*/
.carousel-container {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    z-index: 1;
}
/* especifica como se muestran las img en el carrusel, podría ser útil
.carousel-item img {
    object-fit: contain;
    object-position: bottom;
    width: 100%;
    height: 100%;
}*/

/*si quisieramos que haya texto sobre las imagenes del carrusel podemos usar estos estilos*/
/*.carousel-caption {
    position: absolute;
    bottom: 10vh;
    left: 5vw;
    color: white;
    font-size: 4vw;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}*/

/*título del prpducto*/
#product-description h1 {
    font-family: 'Press Start 2P';
}

/*información de producto*/
.flex {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    
}



.product-detail{
    padding: 0 .5rem; /*0 arriba .5 a los lados*/
    align-items: center;  
    padding: 0 .5rem; /* Espacio lateral */
    position: relative; /* Para usar ::before */
}


/* Añadir línea vertical antes de "Vendidos" */
.product-detail:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    right: 0rem; 
    width: 1px;
    height: 80%; 
    background: #fff;
    top: 0; 

}

.flex span {
    font-weight: bold;
    font-size: 1.2em;
    align-items: center;
    color: #e8c6f8;

}



/*tarjetas de productos relacionados*/
.card {
    background-color: transparent; 
    border: none; 
    color: #fdfdfd;
  }

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/*productos relacionados*/
.related-product {
    width: 200px;
    margin: 10px;
    text-align: center;
}


h2 {
    color: #fdfdfd;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-title {
    font-size: 16px;
    margin-top: 10px;
}

#product-description {
    padding: 20px;
   color: rgb(245, 245, 234);
    border-radius: 5px;
    margin-top: 20px;
    
}
.viewport-2{
    background-color: black;
}


@media (max-width: 768px) {
    .carousel-caption {
        font-size: 6vw;
        bottom: 15vh;
    }
}

@media (max-width: 480px) {
    .carousel-caption {
        font-size: 8vw;
        bottom: 20vh;
    }
}


