
h2 {
    position: relative!important;
    font-size: 3rem;
    text-align: center!important;
    margin-top: 20px;
    font-weight: bold;
    color: #22223C;
    text-shadow: 1px 1px 2px #110909;
    padding-top: 2rem;
}

h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; /* Inicia el borde desde el centro */
    transform: translateX(-100%); /* Centra el borde */
    width: 30%; /* Esto es para ajustar la longitud del borde */
    border-bottom: 2px solid #F5B963; /* Mantiene el estilo del borde */
}

h4{
    font-size: 1.2rem;
    text-align: center!important;
    padding: 0 3rem 6rem 3rem;
    color: #47475F;
}


#img_princ{
position: relative;
width: 100%;
height: 100%;
}


/* Estilo de la tarjeta */

.card {
    border-radius: 2rem; 
    box-shadow: 0 0.25rem 0.5rem rgba(27, 25, 25, 0.1); 
    transition: transform 0.2s;
    background: #c0c9e6;
    border: 1px solid #0d2b66; 
}

.card:hover {
    transform: scale(1.05); 
}

.card-img-top {
    border-top-left-radius: 2rem; 
    border-top-right-radius: 2rem;
}

.card-body {
    text-align: center; 
    padding: 2rem;
}

/* Contenedor de la imagen con el overlay */

.image-container {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 2rem; 
    border-top-right-radius: 2rem;
}

/* Overlay sobre la imagen */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 2rem; 
    border-top-right-radius: 2rem;
}


.image-container:hover .overlay {
    opacity: 1;
}

/* Ajustes para la lista dentro del overlay */
.overlay .list-group-item {
    background: transparent;
    border: none;
    color: white;
}

/* Estilo del nav */

nav.navbar {
    background: rgba(53, 73, 125, 1) !important;
    position: relative !important;
    display: flex !important;
    color: #f3e7e7 !important;
    box-shadow: 0 0.25rem 0.5rem rgba(21, 57, 78, 0.651); 
}

nav.navbar .navbar-nav .nav-link {
    color: #fffefe !important;
    padding: 1rem !important;
}

nav .navbar-nav .nav-link:hover {
    color: #212a47 !important; 
    background-color: #8bb8c0; 
    border-radius: 0.3125rem; 
}
.titulos{
    font-size: 1.5rem;
    font-weight: bold;

}


/* Para diferentes resoluciones */

/* Ajustes Resolución Estándar */

@media (min-width: 1366px) {
    #img_princ {
        height: 100%;
        object-fit: cover;
    }

    h2 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.2rem;
        padding: 0 5rem 6rem 5rem;
    }
}

/* Ajustes para Tableta en Modo Vertical */

@media (max-width: 1024px) and (min-width: 768px) {

    /* Ajustes de la imagen principal */

    .fondo_img_principal {
        height: 25rem;
    }

    #img_princ {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    h2 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    h4 {
        font-size: 1rem;
        padding: 0 2rem 2rem 2rem;
    }
}


/* Ajustes para Smartphone Pequeño */

@media (max-width: 568px) {

    #img_princ {
        height: 10rem; 
        object-fit: cover;
    }

    h2 {
        font-size: 1.5rem; 
        margin-top: 1rem;
    }

    h4 {
        font-size: 0.8rem; 
        padding: 0 0.5rem 1rem 0.5rem;
    }

    /* Ajuste de las tarjetas */

    .card {
        margin-bottom: 0.5rem; 
    }

    .card-body {
        padding: 0.5rem;
    }

    .titulos {
        font-size: 0.9rem;
    }

}
.top-right {
    position: relative;
    top: 0.5rem;
    right: 1rem; 
    padding: 0.625rem; 
    color: white;
    border-radius: 0.3125rem;

}